/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* THYPOGRAPHY */
.main-title{
  text-align: center;
  font-size: 35px;
  color: #E53170;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 40px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* MAIN */

.container{
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}

.staff-container{
    width: calc(100% / 3 - 40px);
    margin: auto;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    background-color: #0f0e17;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

#staff-description{
    text-align: center;
}

.staff-image{
    max-width: 100px;
    background-color: black;
    margin-right: 10px;
    float: left;
}

.staff-name{
    color: white;
    padding-top: 15px;
    font-weight: bold;
}

.job-name{
    color: white;
    padding-top: 10px;
    font-size: 11px;
}

.mail-link{
    padding-top: 10px;
    float: left;
    text-decoration: none;
    font-size: 12px;
    color: #3ca5d7;
}